{% extends 'base.html.twig' %}

{% block title %}Connexion !{% endblock %}

{% block body %}

    {% if error %}

        {# le  " | trans ... " permet de traiter les erreurs via le bundle translation #}
        <div> {{ error.messageKey | trans(error.messageData, 'security')}} </div>
        
    {% endif %}
    

    <form action="{{ path('connexion') }}" method="POST">

        <h3>Connexion</h3>
        <label for="email">Email</label>
        <input type="text" id="email" name="_username" value="{{ username }}">

        <label for="password">Password</label>
        <input type="password" name="_password" id="password">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
        {# ajouter d'un input pour le token csrf #}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button>Connexion</button>
    </form>

{% endblock %}
