{% extends 'base.html.twig' %}

{% block title %}Inscription !{% endblock %}

{% block body %}
    <h1>Inscription Ready</h1>
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button>Save</button>
    {{ form_end(form) }}
{% endblock %}
